@import "tailwindcss";

@theme {
  --color-primary: #3b281f;
  --color-background: #f4efe8;
  --color-foreground: #1a1a1a;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}
