@import "tailwindcss";

@theme {
  --color-primary: #000000;
  --color-on-primary: #ffffff;
  --color-background: #faf9f8;
  --color-on-background: #1a1c1c;
  --color-surface: #faf9f8;
  --color-surface-dim: #dadad9;
  --color-surface-container: #eeeeed;
  --color-surface-container-low: #f4f3f2;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-high: #e9e8e7;
  --color-surface-container-highest: #e3e2e1;
  --color-surface-variant: #e3e2e1;
  --color-on-surface-variant: #444748;
  --color-outline: #747878;
  --color-outline-variant: #c4c7c7;
  --color-secondary-container: #efe0cd;
  --color-on-secondary-container: #6d6354;
  --color-on-secondary: #ffffff;
  --color-secondary-fixed: #efe0cd;
  --color-secondary-fixed-dim: #d2c4b2;
  --color-on-tertiary-fixed-variant: #5d4201;
  --color-on-surface: #1a1c1c;
  --color-surface-tint: #5f5e5e;
  --color-bento: #c9c7c5;

  /* Font Families */
  --font-headline: "Playfair Display", "Cormorant Garamond", serif;
  --font-body: "Inter", "Montserrat", sans-serif;

  /* Font Sizes and Line Heights */
  --text-headline-sm: 1.5rem;
  --text-headline-sm--line-height: 2rem;
  --text-headline-md: 2rem;
  --text-headline-md--line-height: 2.5rem;
  --text-headline-lg: 3rem;
  --text-headline-lg--line-height: 3.5rem;
  --text-headline-xl: 4rem;
  --text-headline-xl--line-height: 4.5rem;
  
  --text-headline-lg-mobile: 2rem;
  --text-headline-lg-mobile--line-height: 2.5rem;
  --text-headline-xl-mobile: 2.5rem;
  --text-headline-xl-mobile--line-height: 3rem;

  --text-body-sm: 0.875rem;
  --text-body-sm--line-height: 1.25rem;
  --text-body-md: 1rem;
  --text-body-md--line-height: 1.5rem;
  --text-body-lg: 1.125rem;
  --text-body-lg--line-height: 1.75rem;

  --text-label-md: 0.75rem;
  --text-label-md--line-height: 1rem;
  --text-label-md--letter-spacing: 0.1em;
  --text-label-md--font-weight: 600;

  /* Spacings */
  --spacing-margin-mobile: 24px;
  --spacing-section-gap: 120px;
  --spacing-gutter: 24px;
  --spacing-element-gap: 32px;
  --spacing-container-max: 1280px;
  --spacing-margin-desktop: 80px;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-on-background);
    font-family: var(--font-body);
  }
}
